# Public Entrypoint Port (Reverse Proxy)
PORT=4000

# Internal Management API Port & Host
MANAGEMENT_PORT=3000
MANAGEMENT_HOST=127.0.0.1

# Base Domain for Container Subdomain URLs (e.g. localhost or mydomain.com)
DOMAIN=localhost

# Docker Internal Bridge Network Name
DOCKER_NETWORK=deploy-engine

# Runtime Environment
NODE_ENV=production
